* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
  text-align: center;
  background: skyblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.text {
  display: flex;
  justify-self: center;
  align-items: center;
  position: absolute;
  top: 50px;
}

.button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-left: 10px;
}

.win {
  color: #000;
  font-weight: 700;
}